extends layout

block content
    h1.
        #{title}
    form#formAddBlob(name="addblob",method="get",action="/otp")
        p Email Id: 
            input#inputName(type="text", placeholder="ex.@gmail.com", name="email")
        p Mobile Number:
            input#inputBadge(type="number", placeholder="ex. 123456", name="phone_number")
        p
            button#btnSubmit(type="submit") submit